<div class="card">
    <h1>Desempenho individual</h1>
    <div class="pie-chart" id="pieChart" data-items='<%- JSON.stringify(desempenho) %>'></div>
    <div class="legend-container">
    <% desempenho.forEach(item => { %>
        <div class="legend">
            <span class="<%= item.color %>"></span>
            <p><%= item.name %> (<%= item.value %>)</p>
        </div>
        <% }) %>
    </div>  
</div>

<div class="card">
    <h1>Projetos Ativos</h1>
    <div class="Projetos">
        <% tarefa.forEach(item => { %>
        <p class="Item"><%= item.nome %></p>
        <% }) %>
    </div>
</div>