<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/tarefa.css">
    <title>Tela Inicial</title>
    <script src="/js/tarefa.js"></script>
</head>
<body>
    <div id="Tela-Inicio">
        <aside id="sidebar">
            <nav id="Menu">
                <img src="/src/padrao.jpg" alt="User Photo">
                <h3>Gabriel</h3>
                <a href="/Projetos" class="Menu-Item" data-route="/Projetos">Projetos</a>
                <a href="/Tarefas" class="Menu-Item" data-route="/Tarefas">Tarefas</a>
                <a href="/Desempenho" class="Menu-Item" data-route="/Desempenho">Desempenho</a>
            </nav>
            <div id="Configuracao">
                <a href="/Mudar-Fonte" class="Menu-Configuracao">Mudar Fonte</a>
                <a href="/" class="Menu-Configuracao">Sair</a>
            </div>
        </aside>
        <div id="Conteudo-Principal">
            <table>
                <thead>
                <tr>
                    <th>Nome da Atividade</th>
                    <th>Descrição</th>
                    <th>Funcionário Responsável</th>
                    <th>Data Final Programada</th>
                    <th>Data Início</th>
                    <th>Data Final</th>
                    <th>Status</th>
                    <th>Observações</th>
                    <th>Mês</th>
                    <th>Ano</th>
                    <th>Área</th>
                </tr>
                </thead>
                <tbody>
                <% tasks.forEach(task => { %>
                    <tr>
                    <td><%= task.nome %></td>
                    <td><%= task.descricao %></td>
                    <td><%= task.responsavel %></td>
                    <td><%= task.data_final_programada %></td>
                    <td><%= task.data_inicio %></td>
                    <td><%= task.data_final %></td>
                    <td class="<%= task.status.toLowerCase().replace(/ã/g, 'a').replace(/ /g, '-') %>"><%= task.status %></td>
                    <td><%= task.observacoes %></td>
                    <td><%= task.mes %></td>
                    <td><%= task.ano %></td>
                    <td><%= task.area %></td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
